---
// AuthorCard.astro — Saif Mukhtar author card with Gravatar
const gravatarUrl = 'https://www.gravatar.com/avatar/$(echo -n saifmukhtar20@gmail.com | md5sum | cut -d" " -f1)?s=144&d=identicon';
// Using the direct Gravatar URL
const avatar = 'https://gravatar.com/userimage/saifmukhtar';
---

<div class="author-card">
  <img
    src="https://1.gravatar.com/avatar/eb2a79eb705870858f7a965d555075c8d77f0f0beb8ce020f7e496d2ea31e909?s=144"
    alt="Saif Mukhtar"
    width="72"
    height="72"
    loading="lazy"
  />
  <div class="author-info">
    <h4>Saif Mukhtar</h4>
    <p>Creator & Lead Developer of Antimatter · Android, iOS & Python engineer</p>
    <div class="author-links">
      <a href="https://saifmukhtar.dev" target="_blank" rel="noopener" class="author-link">
        🌐 saifmukhtar.dev
      </a>
      <a href="https://github.com/saifmukhtar" target="_blank" rel="noopener" class="author-link">
        ⭐ GitHub
      </a>
      <a href="https://gravatar.com/saifmukhtar" target="_blank" rel="noopener" class="author-link">
        👤 Gravatar
      </a>
      <a href="https://github.com/sponsors/saifmukhtar" target="_blank" rel="noopener" class="author-link">
        ❤️ Sponsor
      </a>
    </div>
  </div>
</div>
